@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    background-color: var(--dark);
    min-height: 100vh;;
}
:root {
    --dark: #3a1078;
    --less-dark: #4e31aa;
    --medium: #3e72ff;
    --bright: #5dceff;
    --medium-translucent: #2f58cdcc
}
p {
    margin-bottom: 0px;
    text-align: justify;
}

header li,header a,header button {
    font-size: 18px;
    color: var(--bright);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    user-select: none;
    box-shadow: 0px 1px 8px black;
    /* margin-bottom: 20px; */
    top:0;
    position: sticky;
    background-color: #2C3333;
}
.logo img {
    width: 150px;
}

.not-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-weight: 800;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    display: block;
}

.nav-links li a:hover {
    color: var(--medium);
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: var(--medium);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 700;
}

button:hover {
    background-color: var(--medium-translucent);
}

.container {
    padding: 80px 200px;
}

/* .container p:nth-child(3) { */
    /* margin-bottom: 0; */
/* } */

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgb(69,69,69);
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.container a {
    text-decoration: none;
    color: inherit;
    font-weight: 800;
    transition: 0.3s;
}

.container a:hover {
    color: var(--bright);
}

abbr {
    text-decoration: none;
    cursor:help;
    font-weight: 800;
}
/* footer { */
    /* height: 4.5rem; */
    /* width: 100%; */
    /* background-color: var(--medium); */
/* } */



@media (max-width: 992px) {
    .container {
        padding: 50px 100px;
    }
}
@media (max-width: 768px) {
    .container {
        padding: 30px 50px;
    }
    .nav-links li {
        padding: 0 10px;
    }
}

@media (max-width: 576px) {
    .container {
        text-align: left !IMPORTANT;
    }
    
}

.not-links {
    width: 100%;
}
#bars {
    display: none;
    font-size: 24px;
    cursor: pointer;
    width: 10x;
}
#bars img {
    width: 24px;
}
@media (max-width: 655px){
    #bars {
        display: inline-block;
    }
    .nav-links,nav {
        display: none;
        transition: 0.3s;
    }
    header.active {
        display: flex;
        flex-direction: column;
        text-align: center !important;
    }
    .nav-links.active {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 !important;
        background-color: var(--less-dark);
    }
    nav {
        width: 100%;
    }
    .nav-links.active li {
        width: 100%;
        padding:0;
    }
    .nav-links.active li:nth-child(1){
        border-bottom: 3px solid var(--dark);
    }
    .nav-links.active li:nth-child(2){
        border-bottom: 3px solid var(--dark);
    }
    .nav-links.active button {
        margin-left:0
    }
    nav.active {
        display: block;
    }
}

/*  small       576
    medium      768
    large       992
    x-large     1200
    xx-large    1400*/

